{{!
# Citation for the following page: Home Hbs
# Date: 05/20/2025
# Based on: Exploration - Web Application Technology
# Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
             
}}



<h1>Elden Ring Weapon Tracking System.</h1>
<div class="homepageDescription">
    <p>Ethan Spear, Kia Wilson.</p>
    <p>Elden Ring Weapons Database will allow players to track individual game progress, weapons gained,
and view information about which enemy, and its location, a particular weapon was acquired from.</p>
</div>
           