<h1>Elden Ring Weapon Tracking System.</h1>
<div class="homepageDescription">
    <p>Ethan Spear, Kia Wilson.</p>
    <p>Elden Ring Weapons Database will allow players to track individual game progress, weapons gained,
and view information about which enemy, and its location, a particular weapon was acquired from.</p>
</div>
            <form id='reload database' method='POST' action="/home/reload">
                    <button type='submit'>
                        Reset
                    </button>
            </form>