<h1>Regions</h1>

{{! READ table }}
<table>
  <thead>
    <tr>
      {{#each regions.[0]}}
        <th>{{@key}}</th>
      {{/each}}      
    </tr>
  </thead>
  <tbody>
    {{#each regions}}
    <tr>
      <td>{{this.Region}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>


