{{!  
# Citation for the following page:
# Date: 05/20/2025
# Adapted from: Exploration - Web Application Technology
# Source URL:https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948

}}


<h1>Weapon Categories</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each categories.[0]}}
            <th>{{@key}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{! For each row, print the category id }}
        {{#each categories}}
        <tr>
            <td>{{this.Category}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
