<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/Players">Players</a>
        <a href="/Player_Weapons">Player Weapons</a>
    </nav>

    {{{body}}}

</body>
</html>